*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--primary: #009688;
	--secondary: #;
}

body {
	background: #fffff8;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 16px;
	font: inherit;
}

#app {
	display: grid;
	grid-template-rows: minmax(150px, auto) auto 1fr auto 1fr;
	/* grid-auto-rows: minmax(150px, auto); */
	/* grid-template-columns:  */
	min-height: 100vh;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(140, 203, 115, 0.5718662464985995) 100%
	);
	color: #0c3631;
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	padding: 0 1em 1em;
}

.holder {
	display: grid;
	grid-template-columns: 30% 1fr;
	gap: 1em;
}

.holder.headline {
	display: flex;
	padding: 3rem 0 2rem;
}

.holder.button-wrapper {
	display: flex;
	justify-content: center;
	padding: 5px 20px 20px;
}

.holder.entry {
	padding: 1em;
	color: ivory;
	border-radius: 5px;
}

.error-text {
	grid-column-start: 2;
	font-size: 16px;
	color: red;
}

.entry {
	background: rgba(59, 74, 107, 0.8);
	margin: 0 0 2em 0;
}

.entry__title {
	border-right: 2px solid #f0d43a;
	padding-right: 0.5em;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
	display: block;
	font-size: 24px;
	padding: 5px;
}

.input {
	display: block;
	width: 100%;
	background: #3678a5;
	color: #f0d43a;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	border: none;
	padding: 10px 10px 5px;
	border-radius: 5px;
}

.button {
	padding: 0.8em 2.6em;
	background: #3b4a6b;
	color: #f0d43a;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	border: none;
	box-shadow: 2px 4px 5px #444;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	opacity: 0.8;
}

.heading1 {
	font-size: 46px;
	font-weight: bold;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus-visible {
	outline: 2px solid #f0d43a;
}

/* Style for Placeholder Text*/
::placeholder {
	/* Firefox, Chrome, Opera */
	color: #f0d43a;
	opacity: 0.7;
	font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 400px) {
	.holder,
	.input,
	label {
		font-size: 20px;
	}
	::placeholder {
		font-size: 18px;
	}
	.holder {
		gap: 0.5em;
	}
}
